html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.right-div {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
  
}
